*.DS_Store
.DS_Store
chp2_forces/.DS_Store
chp4_systems/flight404/.DS_Store
chp2_forces/.DS_Store
chp4_systems/.DS_Store
chp4_systems/flight404/.DS_Store
chp5_physicslibraries/.DS_Store
chp5_physicslibraries/box2d/.DS_Store
